/* #generate {
  background-color: #2D3142;
} */

.checkboxBox {
    background: #f5f4f6;
    border-radius: 10px;
    padding: 5px 20px;
    color: black;
    display: inline-block;
    max-width: 80%;
}

.checkboxBox li{
  list-style:none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}