/* #generate {
  background-color: #2D3142;
} */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css");

.checkboxBox {
  background: #f5f4f6;
  border-radius: 10px;
  padding: 5px 5px;
  color: #2d3142;
  display: flex;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

.checkboxBox li {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  -webkit-appearance: none;
}

input [type="checkbox"] {
  position: absolute;
  top: 10px;
}

.checkboxBox label {
  margin-bottom: auto;
  margin-top: auto;
  align-items: center;
}

.num-elements {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.num-elements > input {
  line-height: 40px;
  size: 40px;
}

.btn-primary {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
  width: 75%;
  background-color: #ffa62b;
  border-color: #ffa62b;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ffa62b;
  border-color: #ffa62b;
}

.btn-primary:hactive {
  color: #fff;
  translate: 5px;
  background-color: #ffa62b;
  border-color: #ffa62b;
}

.btn-primary:visited {
  color: #fff;
  background-color: #ffa62b;
  border-color: #ffa62b;
}

.btn-primary:active {
  color: #fff;
  background-color: #ffa62b;
  border-color: #ffa62b;
}
button {
  margin: auto;
  font-family: "Montserrat";
  font-size: inherit;
}

.checkboxBox label {
  display: flex;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: #2d3142;
}

/* .selector {
  display: flex;
  font-size: 20px;
  flex-wrap: nowrap;
  font-family: 'Source Sans Pro', sans-serif;
  color: #2D3142;
}

.selector label {
  display: flex;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #2D3142;
} */

.Heading-scroll {
  display: flex;
  position: center;
  overflow: hidden;
  width: auto;
  height: 150px;
  margin: auto;
  background-color: #b0d7ff;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.head1 {
  text-align: center;
  color: #2d3142;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900px;
  font-size: 8vw;
  line-height: 200px;
}

/* .head2 {
  text-align: center;
  color: #adacb5;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900px;
  font-size: 8vw;
  line-height: 100px;
} */

img {
  max-height: 300px;
  border-radius: 6px;
}

.noselect {
  user-select: none;
  -moz-user-select: none;
}

.input-tag {
  width: 80% !important;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 75%;
  justify-content: center;
}

.parent-formatter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}

.image-formatter {
  flex-basis: auto;
  margin: auto;
}

.text-formatter {
  flex-basis: auto;
  padding: 10px;
}

body {
  background-color: #ede7e3;
}
